body{
    background-color: azure;
}
#one{
    color: #42b6f5;
}
#two{
    color:blue;
    }
#three
{
    color:brown;
}
#four
{
    color:darkgreen;
}
#five
{
    color: aqua;
}
#six
{
    color: burlywood;
}
#seven
{
    color:darkmagenta;
}
#eight
{
    color: chocolate;
}
#nine
{
    color: crimson;
}
#ten
{
    color: slateblue;
}